

/* localization */

@utility rtl {
  direction: rtl;
}

@utility ltr {
  direction: ltr;
}


/* fixes */

body {
  @apply overflow-y-auto! ps-0!;
}

table thead tr th {
  @apply text-start whitespace-nowrap;
}
